@font-face {
    font-family: Gilroy;
    src: url("../font/Gilroy-Regular.ttf") format("opentype");
}

@font-face {
    font-family: Gilroy;
    font-weight: lighter;
    src: url("../font/Gilroy-Light.ttf") format("opentype");
}

@font-face {
    font-family: Gilroy;
    font-weight: 500;
    src: url("../font/Gilroy-Medium.ttf") format("opentype");
}

@font-face {
    font-family: Gilroy;
    font-weight: bold;
    src: url("../font/Gilroy-Bold.ttf") format("opentype");
}


html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {margin: 0;padding: 0;font-weight: normal;}
ol, ul {list-style: none;}
img {max-width: 100%;height: auto;}




body{
    background-color: #ffffff;
    font-family: Gilroy, verdana, arial;
    font-size: 16px;
}
body, button{
    color: #3a3a3a;
}


body a,
body a:visited{
    color: #3a3a3a;
    text-decoration: none;
}
body a:hover{
    text-decoration: underline;
}



body > header,
body > section{
    width: 100%;
}
body > header > .container,
body > section > .container,
body > footer{
    max-width: 1200px;
    margin: 0 auto;
}
body > section >  .container > h2,
body > section >  .container > header h2{
    font-size: 2.5em;
}



header.main{
    position: relative
}

header.main .container{
    padding:20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


header.main .container .logo,
header.main .container .logo img{
    width:110px;
    height: 110px;
}



/* MAIN MENU ------------------------  */
header.main .container .main-menu{
    align-self: center;
    flex-grow: 1;
}

header.main .container .main-menu ul{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 32px;
    border-radius: 32px;
}

header.main .container .main-menu ul li a{
    color: #3a3a3a;
    padding: 10px 25px;
}
header.main .container .main-menu ul li.current a{
    color:#29bae6;
}


header.main .container .main-menu ul li.login{
    margin-left: 60px;
}
header.main .container .main-menu ul li.login a{
    background-color: #29b9e5;
    color:#ffffff;
    border-radius: 10px;
}
/* ------------------------------- */






/* ------------------------------- */
header.main .layout-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}
header.main .layout-background .stripes,
header.main .layout-background  .person{
    position: absolute;
    z-index: -1;
    width: 100%;
    display: flex;
    height: 100%;
}
header.main .layout-background .stripes span{
    width: 50%;
}
header.main .layout-background .stripes span:nth-child(1){
    background-color: #20aadf;
}
header.main .layout-background .stripes span:nth-child(1){
    background: repeating-conic-gradient(at 100% 0 ,rgb(29, 164, 221) 30deg 35deg, rgb(32, 170, 223) 35deg 40deg);
}
header.main .layout-background .stripes span:nth-child(2){
    background: repeating-conic-gradient(at 0 0 ,rgb(255, 182, 47) 30deg 35deg, rgb(255, 188, 53) 35deg 40deg);
}


header.main .layout-background .person{
    background: url("../img/personagem.png") no-repeat 50% 175px;
}





header.main .container .text-banner{
    justify-content: space-between;
    padding: 50px 0 80px 0;
    display: flex;
    
}

header.main .container .text-banner > div{
    width: 32%;
}
header.main .container .text-banner > div:nth-child(1){
    color:#fff;
}
header.main .container .text-banner h2{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 35px;
}

header.main .container .text-banner p{
    font-size: 1.25em;
    line-height: 1.3em;
    font-weight: 500;
}

header.main .container .text-banner > div + div{
    text-align: right;
}

header.main .container .text-banner .button{
    margin: 22px 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 12px 20px;
    display: inline-block;
    font-size: 1.37em;
    font-weight: bold;
}




header.main .container .search{
    background-color: #4b3733;
    padding: 25px 50px 25px 50px;
    width: 100%;
    margin-bottom: -60px;
    border-radius: 22px;
}
header.main .container .search form{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border-radius: 24px;
    background-color: #fff;
}

header.main .container .search input, 
header.main .container .search select{
    border: none;
    height: 50px;
    color: #898989;
    flex-grow: 1;
    font-size: 1em;
    padding-left: 45px;
}

header.main .container .search input{
    border-right: solid 1px #ccc;
    margin-right: 12px;
    background: url("../img/icon-search.png") no-repeat 0 13px;
}

header.main .container .search select{
    border-right: solid 1px #ccc;
    border: none;
    background: url("../img/icon-pin.png") no-repeat 5px 13px;
}



header.main .container .search button{
    background-color: #ffbb35;
    color: #000;
    border: none;
    padding: 15px 25px;
    border-radius: 16px;
    margin-left: 26px;
    font-size: 1em;
}








/* Featured Jobs -------------------------------------------- */

.featured-jobs{
    padding-top: 120px;
    background-color: #f7f7ef;
    padding-bottom: 50px;
}
.featured-jobs .container > ul{
    overflow: auto;
    padding-bottom: 12px;
    gap: 25px;
}



.featured-jobs .container > header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.featured-jobs .container > header h2{
    font-weight: bold;
}
.featured-jobs .container > header h2 span{
    color: #22aee2;
}





.featured-jobs .container > header div.buttons a{
    background-color: #fff;
    border-radius: 100%;
    font-weight: bold;
    font-size: 26px;
    font-family: arial;
    line-height: 26px;
    padding: 5px;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
}



.featured-jobs .container > ul{
    display: flex;
}
.featured-jobs .container > ul > li{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0,0,0,0.1) 0 0 15px;
}





.featured-jobs .container > ul > li header{
    display: flex;
    margin-bottom: 18px;
}
.featured-jobs .container > ul > li header img{
    border:solid 5px #f5f5f5;
    border-radius: 38px;
    width: 38px;
    height: 38px;
    margin-right: 12px;
}
.featured-jobs .container > ul > li header div span{
    font-size: 0.87em;
    opacity: 0.5;
    font-weight: 500;
}
.featured-jobs .container > ul > li header div h3{
    font-size: 1.125em;
    font-weight: bold;
}



.featured-jobs .container > ul > li section .info{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.featured-jobs .container > ul > li section li{
    height: 18px;
    background-repeat: no-repeat;
    background-position: 0 0;
    white-space: nowrap;
}
.featured-jobs .container > ul > li section .info li i{
    margin-right: 5px;
}





.featured-jobs .container > ul > li section > p{
    color:#979797;
    margin: 25px 0;
}



.featured-jobs .container > ul > li section .tags{
    display: flex;
}
.featured-jobs .container > ul > li section .tags li{
    font-size: 0.8em;
    padding: 4px 8px;
    border-radius: 10px;
    color: #3a3a3a;
}
.featured-jobs .container > ul > li section .tags li + li{
    margin-left:8px
}
.featured-jobs .container > ul > li section .tags li.blue{
    background-color: #cdedf7;
}
.featured-jobs .container > ul > li section .tags li.yellow{
    background-color: #ffe5b2;
}

.featured-jobs .container > ul > li section .tags li.time{
    color: #9c9c9c;
    text-align: right;
    flex-grow: 1;
}








/* Category ---------------------------------- */
.category .container{
    margin-top: 50px;
}

.category .container > h2{
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}
.category .container ul{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.category .container ul li{
    width: calc(25% - 9px);
    text-align: center;
    border-radius: 20px;
}
.category .container ul li img{
    margin:12px auto;
    width: 40%;
    max-width: 110px;
}
.category .container ul li a{
    color: #fff;
}
.category .container ul li a p{
    font-size: 1.1em;
    font-weight: 500;
}

.category .container ul li.blue{background-color: #2a66df;}
.category .container ul li.yellow{background-color: #f8c104;}
.category .container ul li.purple{background-color: #7a1de1;}
.category .container ul li.green{background-color: #75d50b;}
.category .container ul li.orange{background-color: #fd7202;}
.category .container ul li.blue2{background-color: #29b9e5;}
.category .container ul li.green2{background-color: #26c6a2;}
.category .container ul li.red{background-color: #fb2329;}









/* Highlight ------------------------------------------- */
.highlight{
    padding:50px 0;
}
.highlight .container{
    display: flow-root;
}

.highlight .container img{
    float: right;
    width: 40vw;
    max-width: 380px;
    background-color: #fef6e4;
    border-radius: 50%;
}

.highlight .container,
.highlight .container a{
    color:#3a3a3a;
}
.highlight .container h2{
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 18px;
}
.highlight .container p{
    font-size: 1.2em;
    margin-bottom: 18px;
}

.highlight .container h3,
.highlight .container p{
    max-width: 50%;
}
.highlight .container a{
    background-color: #ffc743;
    font-weight: bold;
    font-size: 1.4em;
    padding: 12px 20px;
    border-radius: 10px;
    display:inline-block;
}









/* Newsletter ------------------------------------------------ */
.newsletter{
    background-color: #ffc743;
    margin-bottom: 48px;
}
.newsletter .container{
    display: flex;
    margin: 0 auto;
    padding: 50px 100px;
    justify-content: space-between;
}
.newsletter .container strong{
    font-size: 1.8em;
    font-weight: 500;
    padding-right: 3em;
}

.newsletter .container .field{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.newsletter .container .field input,
.newsletter .container .field button{
    padding: 18px 24px;
}
.newsletter .container .field input{
    border:none;
    width: 100%;
}
.newsletter .container .field button{
    color: #fff;
    border: none;
    background-color: #29b9e5;
    border-radius: 10px;
}








/* Footer ------------------------------------------------ */
body > footer{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}



body > footer div.social{
    text-align: center;
}
body > footer div.social ul{
    display: flex;
}
body > footer div.social ul li{
    margin:8px;
}
body > footer div.social ul li a{
    background-color: #ffc743;
    border-radius: 100%;
    padding: 9px 6px;
    display: block;
}
body > footer div.social ul li a i{
    line-height: 1;
    color: #fff;
}



body > footer > ul li strong{
    color:#29bae6;
    font-weight: bold;
}

body > footer > ul li,
body > footer > ul li a{
    color:#3a3a3a;
}


body > footer .copyright{
    width: 100%;
    text-align: center;
    color:#3a3a3a;
}