
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}  
body, h1, h2, h3, h4, h5, h6, p, ol, ul, fieldset {margin: 0;padding: 0;font-weight: normal;}
ol, ul {list-style: none;}
img {max-width: 100%;height: auto;}


html{ font-size: 16px;}

body{
    font-family: var(--default-font-family), arial, verdana;
    font-size: 62.5%;
    color: var(--dark-color);
    background-color: var(--light-color);
}

a,
a:visited{
    color: var(--dark-color);
    text-decoration: none;
}
a:hover{ text-decoration: underline; }



header.main .container,
footer .container{
    max-width: 1200px;
    margin: 0 auto;
}


@media (max-width: 800px){
    html, body{font-size: 10px;}
}

